---
import Header from '../components/Header.astro'
import Metadata from '../components/Metadata.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../config'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Metadata title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Anastasija Dubovska</h1>
      <p>I'm a graphic artist from Latvia. Welcome to my imaginary world!</p>
      <img width="100%" height="100%" src="hero.jpg" alt="hero" />
    </main>
  </body>
</html>
